.board {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}
.tasks {
    display: inline-block;
    width: 22rem;
    padding: 0 1rem 1rem 1rem;
    border: 1px solid var(--bs-gray-200);
    vertical-align: top;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
}
.tasks.tasks:not(:last-child) {
    margin-right: 1.25rem;
}
.tasks .card {
    white-space: normal;
    margin-top: 1rem;
}
.tasks .task-header {
    background-color: var(--bs-gray-100);
    padding: 1rem;
    margin: 0 -1rem;
}
.task-list-items {
    min-height: 100px;
    position: relative;
}
.task-list-items:before {
    content: "No Tasks";
    position: absolute;
    line-height: 110px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.task-modal-content .form-control-light {
    background-color: var(--bs-gray-200) !important;
    border-color: var(--bs-gray-200) !important;
}
.gantt-task-details {
    min-width: 220px;
}
